.header-top {

    width: 100%;
    height: 100px;
    background: royalblue;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    /* font-size: calc(10px + 1.4vmin); */
    padding: 0 1rem;

}